*{
padding: 0;
margin: 0;
list-style: none;
box-sizing: border-box;
}
body{
font-family: 'Montserrat', sans-serif;
}
nav{
background: url(img/shubham-dhage-g_WPAiUc1Us-unsplash\ 1.png);
background-repeat: no-repeat;
background-size: cover;
}
.blueComa{
width: 40px;
height: 40px;
}
.nftCard{
display: flex;
justify-content: space-between;
align-items: center;
}
.list{
display: flex;
justify-content: space-between;
}
.list_a{
text-decoration: none;
color: #c5b6b6;
/* font-weight: 400x; */
font-size: 16px; 
}
.nft_a{
color: #FFFFFF;
text-decoration: none;
}
.nft{
font-weight: 700;
font-size: 20px;

}
.login{
font-weight: 700;
font-size: 20px;
color: #F4F4F4;
background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
box-shadow: 15px 15px 35px rgba(226, 142, 15, 0.18);
border-radius: 10px;
padding: 6px 26px;
border: none;
}
/* ======================================================== */
.home{
margin-top: 100px;
font-weight: 700;
font-size: 48px;
color: #FFFFFF;
}
.concept{
margin-top: 40px;
font-weight: 400;
font-size: 20px;
color: #FFFFFF;
margin-bottom: 40px;
}
.create{
background: url(shubham-dhage-g_WPAiUc1Us-unsplash.jpg);    
border: 1px solid #FF8E1E;
border-radius: 10px;
padding: 6px 26px;
margin-left: 40px;
color: #FFFFFF;
font-weight: 700;
font-size: 20px;
}
.explore{
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
border-radius: 10px;
padding: 6px 26px;
border: none;
}
.exploreCard{
margin-bottom: 100px;
}
.wadeCard{
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(140.08deg, #9CD2EE 3.42%, #00ACEE 95.98%);
box-shadow: -46px -61px 36px rgba(0, 0, 0, 0.25);
border-radius: 10px;
/* transform: rotate(-180deg); */
margin-top: 350px;
}
.price{
font-weight: 700;
font-size: 18px;
color: #F4F4F4;
}
.wadeCard-3{
display: flex;
align-items: start;
}
.number{
font-weight: 700;
font-size: 24px;
color: #F4F4F4;
}
.numberS{
font-weight: 400;
font-size: 15px;
}
.wonder{
font-weight: 700;
font-size: 16px;
color: #F4F4F4;
}
.wadeCard-4{
display: flex;
align-items: end;
}
.wadeCard-2{
padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
}
/* ======================================================== */
.new{
margin-top: 80px;
text-align: center;
font-weight: 700;
font-size: 48px;
color: #232222;
}
.this{
margin-top: 25px;
font-weight: 400;
font-size: 20px;
color: #232222;
text-align: center;
margin-bottom: 50px;
}
/* ======================================================== */
.ring{
margin-top: 20px;
text-align: center;
font-weight: 700;
font-size: 32px;
color: #232222;
}
.sferaCard:hover{
    background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
    box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.08);
}
.sferaCard{
    border-radius: 20px;
    padding-bottom: 20px;
}
.sfera{
width: 310px;
height: 344px;
}
.ring:hover{
    color: #FFFFFF;
}
/* ======================================================== */
.flower{
width: 310px;
height: 236px;
}
.webb{
font-weight: 700;
font-size: 18px;
color: #232222;
margin-top: 20px;
margin-left: 20px;
}
.night{
display: flex;
align-items: start;
margin-left: 20px;
}
.goldN{
font-weight: 700;
font-size: 24px;
color: #FF8E1E;
margin-left: 10px;
}
.darell{
display: flex;
align-items: end;
margin-left: 20px;
}
.ward{
margin-left: 20px;
font-weight: 700;
font-size: 16px;
color: #232222;
}
.softCard{
background: #F4F4F4;
box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.1);
border-radius: 20px;
}
/* ======================================================== */
.now{
font-weight: 700;
font-size: 48px;
color: #232222;
}
.news{
font-weight: 400;
font-size: 20px;
color: #232222;
}
.see{
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(140.08deg, #9CD2EE 3.42%, #00ACEE 95.98%);
border-radius: 10px;
padding: 6px 26px;
border: none;
}
/* ======================================================== */
.paper{
width: 530px;
height: 452px;
background: url(img/Rectangle\ 17.png);
}
.center{
width: 530px;
height: 452px;
background: url(img/Rectangle\ 16.png);
}
.almost{
width: 115px;
height: 452px;
background: url(img/Rectangle\ 20.png);
}
.left{
width: 100px;
height: 452px;
}
.what{
padding: 15px 15px 0px 55px;
font-weight: 700;
font-size: 24px;
}
.what-2{
/* padding: 15px 15px 0px 55px; */
font-weight: 700;
font-size: 24px;
}
.centerCard{
top: 350px;
position: relative;
width: 310px;
height: 102px;
background: #F4F4F4;
}
.centerCard-2{
top: 350px;
position: relative;
width: 115px;
height: 102px;
background: #F4F4F4;
}
/* ======================================================== */
.care{
width: 310px;
height: 236px;
}
/* ======================================================== */
.bigCard{
margin-top: 60px;
background: #F4F4F4;;
}
.billion{
margin-left: 30px;
}
/* ======================================================== */
.space{
background: url(img/shubham-dhage-_afH9fjiom0-unsplash\ 26.png);
margin-bottom: 100px;
}
.loop{
margin-top: 232px;
font-weight: 700;
font-size: 48px;
color: #232222;
}
.money{
margin-top: 20px;
font-weight: 400;
font-size: 20px;
color: #232222;
margin-bottom: 48px;
}
.subject{
margin-left: 40px;
}
.adres{
padding: 11px 218px 11px 20px;
border: none;
outline: none;
}
.free{
margin-bottom: 100px;
}
.two{
padding: 8px 28px;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
border-radius: 10px;
border: none;
position: relative;
right: 10px;
}
/* ======================================================== */
.nftCard-f{
display: flex;
align-items: center;
}
.nft_a-f{
color:black;
text-decoration: none;
padding-left: 15px;
}
.nft-f{
font-weight: 700;
font-size: 20px;
}        
.world{     
margin-top: 30px;
color: #232222;
font-weight: 400;
font-size: 20px;
}
.power{
font-weight: 700;
font-size: 20px;
color: #232222;
}
.art{
font-weight: 400;
font-size: 20px;
color: #232222;
}
/* ==================Responsive====================================== */
@media (max-width: 575px) {

.sfera {
    width: 100%;
}
.ring {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 47px;
    color: #232222;
}
.sferaCard {
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    width: 100%;
}
.softCard {
    background: #F4F4F4;
    box-shadow: 12px 18px 30px rgb(0 0 0 / 10%);
    border-radius: 20px;
    width: 302px;
    margin-bottom: 50px;
    margin-right: 50px;
    width: 100%;
}
.flower{
    width: 100%;
}
.now {
    font-weight: 700;
    font-size: 35px;
    color: #232222;
}
.wadeCard {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(140.08deg, #9CD2EE 3.42%, #00ACEE 95.98%);
    box-shadow: -46px -61px 36px rgb(0 0 0 / 25%);
    border-radius: 10px;
    margin-top: -46px;
}
.center{
    width: 100%;
}
.paper{
    width: 100%;
}
.care{
    width: 100%;
    height: 100%;
}
.news {
    font-weight: 400;
    font-size: 14px;
    color: #232222;
}
.billion{
    margin: 0;
}
.bigCard{
    margin: 0;
}
.space{
    margin: 0;
    width: 100%;
}
.loop {
    margin-top: 63px;
    font-weight: 700;
    font-size: 34px;
    color: #232222;
}
.adres{
    margin-bottom: 20px;
    width: 100%;
}
.world{
    font-size: 15px;
}
}
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */